extends ../shared/template

block content

  #about-mission
    h2 Our Mission
    hr.header-after
    p
      | Open Course is an education platform that partners with top universities and organizations worldwide, to offer courses online for anyone to take, for free.
    .paragraph-space
    p
      | We envision a future where everyone has access to a world-class education. We aim to empower people with education that will improve their lives, the lives of their families, and the communities they live in.
    hr
