extends ../shared/template

block content
  h1 My Courses

  a(href='/user/courses/new')
    button Create New Course

  table.table
    thead
      tr
        th Course Name
        th Course Subject
        th Course Description
    tbody
      each course in courses
        tr
          td
            a(href='/user/courses/#{course._id}')= course.name
          td=course.subject
          td=course.description
