extends ../shared/template

block content
  h1.dashboard  My Dashboard
  .centered-wrap
    a.button.button-border-royal(href='/courses') Take A Course
    a.mcourse.button.button-border-primary.button-rounded(href='/user/courses') My Courses
    a.button.button-border-caution(href='/user/courses/new') Create a Course
    //- a.button.button-border-caution(href='/logout') Log Out
