extends ../shared/template

block content
  h1 Add New Question

  form#test(method='POST', action='/user/courses/lessons/#{lessonId}/test')
    button.add-test-question(type='submit', class='btn btn-default') Add New Question
    .question-answer-container
      .question-container
        h4 Question
        textarea.question(type='textarea', name='question', placeholder='Enter Question')
      .test-answer
        h4 Select the correct answer.
        .answer
          label A
          input(type='radio' name='correct' value='A')
          input.answer-a(type='text', name='A', placeholder='Enter Answer')
        .answer
          label B
          input(type='radio' name='correct' value='B')
          input.answer-b(type='text', name='B', placeholder='Enter Answer')
        .answer
          label C
          input(type='radio' name='correct' value='C')
          input.answer-c(type='text', name='C', placeholder='Enter Answer')
        .answer
          label D
          input(type='radio' name='correct' value='D')
          input.answer-d(type='text', name='D', placeholder='Enter Answer')

  each question in questions
    form(method='POST', action='/user/courses/lessons/test/#{question._id}')
      input(type='hidden' name='_method' value ='DELETE')
      button(id='delete', class='btn btn-danger') Delete Question
    p= question.question
    ul
      each answer in question.answers
        li=answer.answer
